<h1>Burger Time!</h1>

<h2>Burgers Ordered!</h2>

<ul>
  {{#each burgers}}
    {{#unless sleepy}}
      {{> burgers/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers are ordered!</h2>

<ul>
  {{#each burgers}}
    {{#if sleepy}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Order?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Order a Burger!<br>
    <input type="radio" name="sleepy" value="0"> Hold for later!
  </div>

  <button type="submit">Order a Burger</button>
</form>
