<h1>Create your custom Burger!!!!</h1>

<h2>Burgers Ready</h2>

<ul>
  {{#each burger}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Ready for Pickup!</h2>

<ul>
  {{#each burger}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Order a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">When do you want your order?</label><br>
    <input type="radio" name="sleepy" value="1"> Hold for Pickup!<br>
    <input type="radio" name="sleepy" value="0"> Order it now!
  </div>

  <button type="submit">Add Order</button>
</form>
