li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

body {
  background-color: gainsboro;
  background-image: url(https://images.pexels.com/photos/1199956/pexels-photo-1199956.jpeg?cs=srgb&dl=burger-with-spinach-and-cheese-1199956.jpg&fm=jpg);
  /* background-repeat: inherit; */
  background-position: center;
}

h1 {
  text-align: center;
  color: aliceblue;
}

h2 {
  text-align: center;
  color: aliceblue;
}

.form-group{
  text-align: center;

}

.create-form{
  text-align: center;
  color: aliceblue;
  font-size: 30px;
}

ul{
  text-align: center;
  font-size: 30px;
}

